body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App { display: flex; width: 100%; flex-wrap: wrap; }

.App .card { 
  border: 2px solid lightgray;
  box-sizing: border-box; 
  margin: 15px;
  padding: 20px;
  flex-basis: calc(50% - 30px);
}

.App .card h2 { text-align: left; margin-top: 0; border-bottom: 1px solid lightgray; }

.App {
  text-align: center;
}


.btn--link { background: none; border: 0; font-size: 1em; color: blue; text-decoration: underline; cursor: pointer; }